body {
    font: 14px Georgia, serif;
    text-align: center;
  }
  
  h1 {
    font: bold 20px system-ui, Helvetica, Sans-Serif;
  }
  
  input[type="number"] {
    padding: 10px;
    font: bold 20px system-ui, Helvetica, Sans-Serif;
    width: 60px;
    margin: 10px 0;
  }
  #randomnumber {
    font-size: 80px;
  }